<div class="main-div">
  <div>
    <div class="profile-box">
      <%= image_tag(current_user.image, style:'height: 150px; width: 150px; border-radius: 50%;') %><br>
      <h1><%= current_user.first_name %></h1>
      <% if !current_user.reviews_as_geter.empty? %>
        <% sum = 0 %>
        <% @user.reviews_as_geter.each do |review| %>
          <% sum += review.star%>
        <% end %>
        <h4>
          <% (sum / current_user.reviews_as_geter.count).times do %>
            <i class="fa-solid fa-star" style="color: #ffc107;"></i>
          <% end %>
        </h4>
      <% end %>
    </div>

    <div class="badge-box">
      <h1>badges</h1>
    </div>

  </div>


  <div>
    <div class="card about-box">
      <div class="card-header"><h1>About Me</h1></div>
      <div class="card-body">
        <p class="card-text"><%= current_user.description %></p>
      </div>
    </div>

    <div class="card about-box">
      <div class="card-header"><h1>Tours I Organise</h1></div>
      <div class="card-body">

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @user.tours.each do |tour| %>

            <div class="col">
              <div class="card trip-card">


                  <div id="carousel_id<%= tour.id %>" class="carousel slide">

                    <div class="carousel-inner">
                      <% tour.photos.each_with_index do |photo, index| %>
                        <div id="carousel_item_<%= index %>" class="card-image carousel-item <%= index == 0 ? 'active' : '' %>">

                          <%= cl_image_tag photo.key, height: 160, width: 300, crop: :fill, class: 'rounded-image'%>
                        </div>

                      <% end %>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_id<%= tour.id %>" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel_id<%= tour.id %>" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>

                  </div>



                <div class="card-body my-1 py-0">
                  <h5 class='my-0'><%= tour.name %></h5>
                  <p class='my-0'>0/<%= tour.capacity %></p>

                  <div class="d-flex">

                    <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#exampleModal2<%= tour.id%>">
                      <p><i class="fa-solid fa-pen-to-square" style="color: #EEAC41;"></i></p>
                    </button>

                    <%= link_to tour_path(tour), class: "edit-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                      <i class="fa-solid fa-trash-can" style="color: #EEAC41;"></i>
                    <% end %>
                  </div>

                  <div class="modal fade" id="exampleModal2<%= tour.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">edit a tour</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class='container'>
                            <div class="create-edit-form">
                              <%= render "shared/form", tour: tour %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>



              </div>
            </div>

          <% end %>
          <div class="col">
            <button type="button" class="create-card" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              <h1 class='plus-sign'>+</h1>
            </button>
          </div>
        </div>


      </div>
    </div>

    <div class="card about-box">
      <div class="card-header"><h1>Tours I Join</h1></div>
      <div class="card-body">

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @user.bookings.each do |booking| %>


          <div class="col">
            <div class="card trip-card parent">
              <% if booking.status == 'pending' %>
                <button type="button" class="btn btn-primary child" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= booking.tour.id %>">
                  See More
                </button>
              <% else %>
                <%= link_to 'Review', new_user_review_path(booking.tour.user), class: 'btn btn-primary child' %>
              <% end %>

              <div class="modal fade" id="staticBackdrop<%= booking.tour.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= booking.tour.name %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                      <div class='my-3'>
                        <div id="carousel_id<%= booking.tour.id %>" class="carousel slide">

                          <div class="carousel-inner">
                            <% booking.tour.photos.each_with_index do |photo, index| %>
                              <div id="carousel_item_<%= index %>" class="card-image carousel-item <%= index == 0 ? 'active' : '' %>">

                                <%= cl_image_tag photo.key, height: 160, width: 300, crop: :fill, class: 'rounded-image'%>
                              </div>

                            <% end %>
                          </div>

                          <button class="carousel-control-prev" type="button" data-bs-target="#carousel_id<%= booking.tour.id %>" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carousel_id<%= booking.tour.id %>" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>

                        </div>
                      </div>


                      <p><strong>Date:</strong><%= booking.tour.date %></p><br>
                      <p><strong>Time:</strong><%= booking.tour.time.strftime("%H:%M") %></p><br>
                      <p><strong>Start point:</strong><%= booking.tour.start_point %></p><br>
                      <p><strong>Capacity:</strong><%= booking.tour.capacity %></p><br>
                      <p><strong>Description:</strong><%= booking.tour.description %></p><br>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">

                      <%= link_to user_path(booking.tour.user), target: "_blank", class: "edit-button text-warning" do %>
                      <div class="d-flex align-items-center">
                        <%= cl_image_tag booking.tour.user.image.key, style: 'height: 50px; width: 50px;', class: "avatar" %>
                        <p class="my-0 mx-2"><strong>See <%= booking.tour.user.first_name %>'s profile</strong></p>
                        <br>
                      </div>
                     <% end %>


                      <% if booking.tour.user.id == current_user.id %>
                        <p>THIS IS YOUR TOUR</p>
                      <% elsif booking.user.id == current_user.id  %>
                        <p>BOOKED!</p>
                      <% elsif @bookings.pluck(:user_id).include?(current_user.id) == true  %>
                        <p>BOOKED!</p>
                      <% else %>
                        <%= simple_form_for [booking.tour, @booking] do |f| %>
                        <%= f.submit "Book now!", class:"btn btn-primary child" %>
                        <% end %>
                      <% end %>


                    </div>
                  </div>
                </div>
              </div>



              <%= cl_image_tag booking.tour.photos[0].key, height: 150, width: 300, crop: :fill, class: 'card-img-top'%>


              <div class="card-body my-1 py-0">
                <h5 class='my-0'><%= booking.tour.name %></h5>
                <p class='my-0'>0/<%= booking.tour.capacity %></p>


              </div>



            </div>
          </div>

        <% end %>
      </div>


      </div>
    </div>

    <div class="card about-box">
      <div class="card-header"><h1>Tours I Saved</h1></div>
      <div class="card-body">
        <p class="card-text"><%= current_user.description %></p>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a tour</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class='container'>
          <div class="create-edit-form">
            <%= render "shared/form", tour: @tour %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
