<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://s3-alpha-sig.figma.com/img/da81/93dc/d81af1dc8a0ac2958b14c5a9ce9b69b3?Expires=1687737600&Signature=MbaqirH9gGTVwGv53j6vIn~makQk1~OcjmGyxVd8AS6lHXzlqBMwd4cH3OQSz0yS8l3CLcaVN1NwfM5~Tv18eiBV5pOPTPKQ8sXij3nStp0ic15BfBdx4-W5ET7cqI6W1YfMxi95fdmJ-6FW2PLglOtKXNzWeONvB3qmqVOAmVyuXqproAEJhPiglMJEXMxJBxWUP9tDT1Rxxt8PjQvxmT7tc4WJGEKDbH~v17K1vvPmcc4UXEMIJ2HaNh0GBlzfkHhW~xEjzSTevWCDjlohNwWpNX2XnWXWp1eFQPelwpeuFDAN~F9mkwoo-jufmK3dRft0IlxvFm0twKhNOkjLtA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" %>
    <% end %>

    <!--<div class="navbar navbar-light bg-light">-->
      <form class="form-inline">
        <input class="form-control location mr-sm-2" type="search" placeholder="Location" aria-label="Search">
        <input class="form-control mr-sm-2" type="search" placeholder="Date" aria-label="Search">
        <button class="btn btn-primary search my-2 my-sm-0" type="submit"><iconify-icon icon="ph:magnifying-glass" width="20" height="20" style="color: white;"></iconify-icon><script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script></button>
      </form>

              <!-- https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag(current_user.image,  style:'height:50px', class: "avatar", alt: "dropdown menu") %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link, btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
