<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "travellers-guide-high-resolution-logo-color-on-transparent-background.png" %>
    <% end %>





      <div>
        <%= form_with url: tours_path, method: :get, class: "form-inline" do %>
            <%= text_field_tag :location_query,  params[:location_query], placeholder: "Search by location", class: "form-control location mr-sm-2" %>
            <%= date_field_tag :start_date,  params[:start_date_query], placeholder: "Date from:", class: "form-control mr-sm-2", value:params[:start_date] %>
            <%= date_field_tag :end_date,  params[:end_date_query], placeholder: "Date to:", class: "form-control mr-sm-2", value:params[:end_date] %>
            <%= submit_tag "Search", class: "btn btn-primary search my-2 my-sm-0" %><iconify-icon icon="ph:magnifying-glass" width="20" height="20" style="color: white;"></iconify-icon><script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <% end %>
      </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= cl_image_tag current_user.image.key, style:'height:50px', class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link, btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
