<div class="col" data-controller='edit-tour' data-edit-tour-target='card' >
  <div class="card trip-card">


    <div id="carousel_id<%= tour.id %>" class="carousel slide">

      <div class="carousel-inner">
        <% tour.photos.each_with_index do |photo, index| %>
          <div id="carousel_item_<%= index %>" class="card-image carousel-item <%= index == 0 ? 'active' : '' %>">

            <%= cl_image_tag photo.key, height: 160, width: 300, crop: :fill, class: 'rounded-image'%>
          </div>

        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carousel_id<%= tour.id %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel_id<%= tour.id %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>



    <div class="card-body my-1 py-0">
      <div>
        <h5 class='my-0'><%= tour.name %></h5>
        <p class='my-0'><%= tour.bookings.count %>/<%= tour.capacity %></p>
      </div>

      <div class="d-flex">

        <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#exampleModal2<%= tour.id%>">
          <p><i class="fa-solid fa-pen-to-square" style="color: #EEAC41;"></i></p>
        </button>

        <%= link_to tour_path(tour), class: "edit-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can" style="color: #EEAC41;"></i>
        <% end %>

        <% if tour.user == current_user && tour.bookings.count > 0 %>
          <button type="button" class="btn btn-primary child" data-bs-toggle="modal" data-bs-target="#membersModal<%= tour.id %>">
          Members
          </button>


            <div class="modal fade" id="membersModal<%= tour.id %>" tabindex="-1" aria-labelledby="membersModalLabel<%= tour.id %>" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="membersModalLabel<%= tour.id %>">Members</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% tour.bookings.each do |booking| %>
                      <%= link_to user_path(booking.user), style: "text-decoration: none;" do%>
                        <p><%= booking.user.first_name %> <%= booking.user.last_name %> <%= image_tag(booking.user.image, style:'height: 50px; width: 50px; border-radius: 50%;') %><br></p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

      </div>


      <div class="modal fade" id="exampleModal2<%= tour.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">edit a tour</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class='container'>
                <div class="create-edit-form">
                  <%= render "shared/form", tour: tour %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>



  </div>
</div>
