

<div class="p-5">
  <div class="row">
    <% @tours.each do |tour| %>
      <% if tour.photos.any? %>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card parent" style="width: 18rem; margin:10px">
            <%= cl_image_tag tour.photos[0].key, height: 150, width: 300, crop: :fill, class: 'card-img-top'%>
            <div class="card-body" style="height:200px">
              <p><%= tour.name.upcase %></p>
              <span><%= tour.description %></span><br>
              <button type="button" class="btn btn-primary child" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                See More
              </button>


              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= tour.name %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                      <%= tour.date %>
                      <%= tour.time %>
                      <%= tour.start_point %>
                      <%= tour.capacity %>
                      <%= tour.description %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary">Book</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
